/*
Rainbow Text  
*/ 
@keyframes rainbow {
    0% { color: red; }
    16.66% { color: orange; }
    33.33% { color: yellow; }
    49.99% { color: green; }
    66.66% { color: blue; }
    83.33% { color: indigo; }
    100% { color: violet; }
}

.rainbow-text {
    animation: rainbow 3.42s infinite;
}
.NormalText {
    color: crimson;
}
/*
Body Style
*/
footer {
    color: black;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.651), rgba(0, 128, 0, 0.536), rgba(255, 0, 0, 0.438));
    color: plum;
    align-items: center;
    display: flex;
    flex-direction: column;
}
a {
    color: inherit;
    text-decoration: none;
}
/*
Logo Glow
*/
@keyframes glow {
    0% {
        transform: scale(2.0); /* Initial size */
        opacity: 0.3; 
    }
    25% {
        transform: scale(2.5); /* Partial size change */
        opacity: 0.5; 
    }
    50% {
        transform: scale(2.8); /* Increased size at the midpoint */
        opacity: 0.7; 
    }
    90% {
        transform: scale(1.5); /* Partial size change */
        opacity: 0.2; 
    }
    100% {
        transform: scale(2.0); /* Back to the original size */
        opacity: 0.3; 
    }
}

.glow-image-container {
    position: relative;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    overflow: hidden;
}

.glow-image {
    display: block; 
    margin-left: 50px; 
}
/* Create the glow using the ::before pseudo-element */
.glow-image-container::before {
    content: ''; /* Required placeholder content */
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: -50px;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
    animation: glow 5s infinite;
    background: radial-gradient(ellipse at center, rgba(220, 104, 208, 0.7) 5%, rgba(255, 165, 0, 0) 10%);
    background-size: 100%;
    left: -50px;
}
/* 
Variety of other scripts
*/

.boxContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.box-wrapper {
    padding: 10px; /* Create space between each box */
}

.text-box {
    background-color: rgba(182, 0, 0, 0.5); 
    padding: 30px; 
    border-radius: 30px; /* Curve of the boxes */
    color: plum;
    max-width: 300px;
}
.about-box {
    background-color: rgba(0, 0, 151, 0.8); 
    padding: 30px; 
    border-radius: 30px; /* Curve of the boxes */
    color: rgb(255, 0, 0);
    max-width: 500px;
}
.common-box {
    background-color: rgba(0, 0, 111, 0.288); 
    padding: 30px; 
    border-radius: 30px; /* Curve of the boxes */
    color: rgb(255, 215, 215);
    max-width: 500px;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 20px 0;
}

/*
Link Box CSS for Project links
*/
.image-box {
    position: relative;
    width: 100%;
    max-width: 500px; /* Limit the width if needed */
    margin: 0 auto; /* Center the image-box */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px; /* Add some spacing between image-boxes */
}

.image-box img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.7; /* Adjust opacity as needed */
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-box:hover .text-overlay {
    opacity: 1;
}

/* This style makes the link fill the entire image-box */
.image-box a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

/* Devlog */
#toggleLogButton {
    background-color: #206fc394;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#devLog {
    background-color: #01318a89;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    max-width: 600px;
}


/* Basic styling for the slider container and slides */
.text-overlay-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 93%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.placeholder-image {
    width: 100%;
    height: 100%;
    background-color: #ccc; /* Set your desired background color */
    /* You can also use background-image to set a placeholder image */
}
.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0 -10px;
}

.slide {
    position: relative;
    flex: 0 0 calc(20% - 20px); 
    margin: 0 10px;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide:hover .text-overlay-slider  {
    opacity: 1;
}
.slide .placeholder-image   {
    width: 270px;
    height: 270px;
}

/* Styling for the previous and next buttons */
#prevBtn, #nextBtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
